.button-container {
  padding: 1px;
  height: 100%;
}

.button-container button {
  background-color: #DCDCDC;
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  color: #2F4F4F;
  cursor: pointer;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.button-container button:hover, .button-container button:active, .button-container button:focus {
  background: #D3D3D3;
}

.button-container button.color-blue {
  background: #4285F4;
  color: #fff;
  border: 1px solid #3079f2;
}

.button-container button.color-blue:hover, .button-container button.color-blue:active, .button-container button.color-blue:focus {
  background: #3079f2;
}

.button-container button.color-red {
  background: #d63429;
  color: #fff;
  border: 1px solid #cf2419;
}

.button-container button.color-red:hover, .button-container button.color-red:active, .button-container button.color-red:focus {
  background: #cf2419;
}