button {
  background-color: #212529;
  border: 1px solid #343A40;
  box-sizing: border-box;
  color: #DEE2E6;
  cursor: pointer;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
}

button:hover, button:active, button:focus {
  opacity: .95;
}
