* { box-sizing: border-box; }

.app {
    background: #E9ECEF;
    max-width: 500px;
    margin: 25px auto;
    padding: 50px;
    border-radius: 10px;
}

.app-title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.calculator-outer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (min-width: 321px) {
    .calculator {
        width: 320px;
    }
}